<?php
    $scripts[] = 'https://www.google.com/jsapi';
    $scripts[] = 'http://code.jquery.com/ui/1.10.0/jquery-ui.js';
    $scripts[] = 'js/history.js';

    if (isset($_POST['quote'])) {
        echo json_encode(YahooFinanceHistory::getHistory(
            $_POST['quote'],
            $_POST['start-date'],
            $_POST['end-date'],
            'd'
        ));

        exit();
    }
?>

<form id="history-form" action="index.php?p=history&format=json" method="post" class="form-search">
    <fieldset>
        <dl class="dl-horizontal">
        <div class="row">
            <input type="text" name="quote" placeholder="Stock Symbol" class="input-medium search-query" />
            <button class="btn btn-primary" type="submit">Get History</button>
        </div>
        <div class="row">
            <dt>Start:</dt><dd><input type="text" class="datepicker" name="start-date" /></dd>
        </div>
        <div class="row">
            <dt>End:</dt><dd><input type="text" class="datepicker" name="end-date" /></dd>
        </div>
        <dl>
    </fieldset>
</form>

<div id="history-display" class="well">
</div>
