<?php
    $scripts[] = 'https://www.google.com/jsapi';
    $scripts[] = 'http://code.jquery.com/ui/1.10.0/jquery-ui.js';
    $scripts[] = 'js/history.js';

    if (isset($_POST['quote'])) {
        $analyzer = new IndicatorAnalysis(
            $_POST['quote'],
            $_POST['start-date'],
            $_POST['end-date']
        );

        $analyzer->addIndicator('SMA', new SMA())
            ->addIndicator('EMA', new EMA(15))
            ->addIndicator('MACD', new MACD(15));

        echo json_encode($analyzer->generate());

        exit();
    }
?>

<form id="history-form" action="index.php?p=history&format=json" method="post" class="form-search form-horizontal">
    <fieldset>
        <div class="control-group">
            <input type="text" name="quote" placeholder="Stock Symbol" class="input-medium search-query" />
            <button class="btn btn-primary" type="submit">Get History</button>
        </div>
        <div class="control-group">
            <label class="control-label">Start:</label>
            <div class="controls">
                <input type="text" class="datepicker" name="start-date" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">End:</label>
            <div class="controls">
                <input type="text" class="datepicker" name="end-date" />
            </div>
        </div>
    </fieldset>
</form>

<div id="charts">
</div>
